extends ./layout/index

block contenido
  h1(class="mt-5 text-center") #{pagina}
  blockquote.text-center ¿Que dicen nuestros clientes?
  .row.testimoniales
    each testimonio in testimonios
      .col-md-6.col-lg-4.mb-4
        .card
          .card-body
            blockquote.blockquote
            p.mb-0
              | #{testimonio.mensaje}
            footer.blockquote-footer
              | #{testimonio.nombre}
  main.container.mt-5
    .row
      h2.d-block.w-100.text-center Agrega un testimonio.

      .row.justify-content-center.col
        .col-md-8
          if(errores)
            each error in errores
              .alert.col.alert-danger.text-center= error.mensaje
          form(action="/testimonios", method="post")
            .form-group
              label(for="nombre") Nombre
              input#nombre(type="text", placeholder="Tu nombre" name="nombre", class="form-control", value= nombre)
            .form-group
              label(for="correo") Correo electronico
              input#correo(type="text", placeholder="Tu nombre" name="correo", class="form-control", value= correo)
            .form-group
              label(for="mensaje") Mensaje
              textarea#mensaje(class="form-control", name="mensaje", placeholder="Escribe tu mensaje.", rows=3)=  mensaje
            input.btn.btn-success.btn-block(type="submit")